.env
parser/__pycache__/config.cpython-38.pyc
parser/src/__pycache__/db.cpython-38.pyc
# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
Кипелов_Жить вопреки.mp3
vk_config.v2.json
vk/__pycache__/config.cpython-39.pyc
vk/__pycache__/music.cpython-39.pyc
__pycache__/config.cpython-39.pyc
bot.log
.vscode/settings.json
db/__pycache__/db.cpython-39.pyc
db/__pycache__/config.cpython-39.pyc
excel/__pycache__/config.cpython-39.pyc
excel/__pycache__/config.cpython-39.pyc
362340468/2021-11-20-shichko.jpg
excel/__pycache__/config.cpython-39.pyc
excel/__pycache__/config.cpython-39.pyc
tasks/__pycache__/shichko.cpython-39.pyc
tasks/__pycache__/thanks.cpython-39.pyc
tasks/__pycache__/audio_book.cpython-39.pyc
.gitignore
tasks/__pycache__/shichko.cpython-39.pyc
tasks/__pycache__/plans.cpython-39.pyc
tasks/__pycache__/jogging.cpython-39.pyc
tasks/__pycache__/sport.cpython-39.pyc
tasks/__pycache__/shichko.cpython-39.pyc
tasks/__pycache__/lessons.cpython-39.pyc
tasks/__pycache__/fitness_game.cpython-39.pyc
tasks/__pycache__/clean_day.cpython-39.pyc
tasks/__pycache__/book.cpython-39.pyc
excel/__pycache__/converter.cpython-39.pyc
excel/__pycache__/config.cpython-39.pyc
362340468/2021-12-05-задание 0.jpg
tasks/__pycache__/maintasks.cpython-39.pyc
tasks/__pycache__/shichko.cpython-39.pyc
~$input.xlsx
__pycache__/fileworker.cpython-39.pyc
__pycache__/keyboards.cpython-39.pyc
db/__pycache__/stats.cpython-39.pyc
excel/__pycache__/config.cpython-39.pyc
excel/__pycache__/config.cpython-39.pyc
tasks/__pycache__/shichko.cpython-39.pyc
1311858604/2021-12-23-shichko.jpg
.gitignore
.gitignore
excel/stats.xlsx
excel/stats0.xlsx
admin/__pycache__/users.cpython-39.pyc
admin/__pycache__/tasks.cpython-39.pyc
excel/__pycache__/config.cpython-39.pyc
excel/__pycache__/converter.cpython-39.pyc
user-data/1311858604/2021-12-26-run.jpg
user-data/362340468/2021-12-26-run.jpg
modules/__pycache__/keyboards.cpython-39.pyc
modules/__pycache__/registration.cpython-39.pyc
modules/admin/__pycache__/admin.cpython-39.pyc
modules/admin/__pycache__/tasks.cpython-39.pyc
modules/tasks/__pycache__/thanks.cpython-39.pyc
modules/tasks/__pycache__/sport.cpython-39.pyc
modules/tasks/__pycache__/shichko.cpython-39.pyc
modules/tasks/__pycache__/plans.cpython-39.pyc
modules/tasks/__pycache__/lessons.cpython-39.pyc
modules/tasks/__pycache__/jogging.cpython-39.pyc
modules/tasks/__pycache__/fitness_game.cpython-39.pyc
modules/tasks/__pycache__/clean_day.cpython-39.pyc
modules/tasks/__pycache__/book.cpython-39.pyc
modules/tasks/__pycache__/audio_book.cpython-39.pyc
modules/statistic/__pycache__/stats.cpython-39.pyc
modules/reminder/__pycache__/fileworker.cpython-39.pyc
modules/excel/__pycache__/converter.cpython-39.pyc
modules/excel/__pycache__/config.cpython-39.pyc
modules/admin/__pycache__/users.cpython-39.pyc
modules/tasks/__pycache__/ephirs.cpython-39.pyc
modules/tasks/__pycache__/maint.cpython-39.pyc
modules/tasks/__pycache__/shower.cpython-39.pyc
modules/tasks/__pycache__/videolections.cpython-39.pyc
user-data/362340468/2022-01-04-shichko.jpg
user-data/362340468/2022-01-06-задание Название задания 2.jpg
__pycache__/try_wrapper.cpython-39.pyc
modules/admin/__pycache__/reset.cpython-39.pyc
